<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Venta de producto</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="form-style">
    <form th:action="@{/formProducto}" th:object="${producto}" method="post">
        <fieldset>
            <h1>Ingresar producto</h1>
            <label>Nombre del producto:</label>
            <input type="text" th:field="*{nombre}">
            <span th:errors="*{nombre}" style="color: #E81505"></span><br>

            <label>Descripcion del producto:</label>
            <input type="text" th:field="*{descripcion}">
            <span th:errors="*{descripcion}" style="color: #E81505"></span><br>

            <label>Precio del producto:</label>
            <input type="number" th:field="*{precio}">
            <span th:errors="*{precio}" style="color: #E81505"></span><br>

            <label>Fecha de vencimiento del producto:</label>
            <input type="text" th:field="*{fechaVencimiento}">
            <span th:errors="*{fechaVencimiento}" style="color: #E81505"></span><br>
        </fieldset>
        <input type="submit" value="Agregar producto">
    </form>
</div>

</body>
</html>