<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Seguridad</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="form-style">
    <form th:action="@{/seguridad}" th:object="${robot}" method="post">
        <fieldset>
            <label class="robot_label">Marcar solo si usted es un robot</label>
            <input type="radio" th:field="*{soyRobot}" th:value="${false}">
            <span th:errors="*{soyRobot}" style="color: #E81505"></span><br>

            <input class="robot_submit" type="submit" value="Aceptar">
            <a href="/producto">Regresar</a>
        </fieldset>
    </form>
</div>

</body>
</html>